.footer {
  display: flex;
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  box-sizing: border-box;
}

.footer__copyright {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
  margin: 0;
}

.footer__navigation {
  display: flex;
  align-items: center;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  text-decoration: none;
}

.footer__list_social .footer__list-item:first-child {
  margin-right: 24px;
}

.footer__list_nav .footer__list-item:first-child {
  margin-right: 30px;
}

.footer__icon {
  object-fit: contain;
  object-position: center;
}

.footer__social-link {
  display: block;
}

.footer__list_nav {
  margin-right: 40px;
}

@media all and (max-width: 1000px) {
  .footer {
    height: 64px;
    padding: 0 4%;
  }

  .footer__list_nav {
    margin-right: 24px;
  }

  .footer__list_social .footer__list-item:first-child {
    margin-right: 18px;
  }

  .footer__list_nav .footer__list-item:first-child {
    margin-right: 20px;
  }
}

@media all and (max-width: 700px) {
  .footer {
    height: initial;
    padding: 20px 5%;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .footer__navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: flex-start;
  }

  .footer__list_nav {
    margin-right: 0;
    flex-direction: column;
    height: 72px;
    justify-content: space-between;
  }

  .footer__list_nav .footer__list-item:first-child {
    margin-right: 0;
  }
}

@media all and (max-width: 600px) {
  .footer {
    padding: 20px 16px;
  }
}
